.nav-menu {

      background-color: #FAFAFA !important;
      border-radius: 0;
      border-top: 0px solid #FAFAFA;
      border-bottom: 1px solid #bdbdbd;
      display:block;
      min-height: 30px !important;
    margin-bottom: 0;
    height: 42px;

}

.nav {

}



.nav-menu-li {

display:inline;

}

.active {

background-color: red;

}

.logo {

height: 38px;
width: 38px;
vertical-align: middle;
margin-right: 10px;
}

.title-purple {

color: #6A5687;
font-weight: bold;

}

.title-orange {

color: #EB7239;
font-weight: bold;

}
